@model UserCart
@{
    ViewData["Title"] = "Dashboard";
}

<div class="image-text">
    <img src="~/images/tools.jpg" alt="_ tools" class="text-center" style="width: 100%;">
    <h3 class="text">Hello @ViewBag.ThisUser.FirstName, welcome to The Tool Shed</h3>
</div>
<div class="pt-4 items-container">
    @{
        foreach(var item in ViewBag.AllProducts)
        {
            int available = item.Quantity-item.AmountSold;
            if(item.Seller.UserId != ViewBag.CurrentUserId)
            {
                <div class="card text-left" style="width: 17rem;">
                    <div class="card-top m-2 border border-dark text-center" style="width:16rem">
                        <a href="#" class="btn btn-light card-title"><b>@item.Name</b></a>
                        <img src="~/images/product_default.jpg" class="card-img-top text-center" alt="product_default">
                        <p class="text-left" style="margin-left: 0.7rem;">Seller: @item.Seller.FirstName @item.Seller.LastName</p>
                    </div>
                    <div class="card-body">
                        <div>
                            @if(@available != 0)
                            {
                                if(@item.isAvailable != true)
                                {
                                    <span style="font-size:0.7rem;">CURRENTLY UNAVAILABLE</span>
                                    <span class="product-price">
                                        @item.Price
                                    </span>
                                    <select name="amount" id="" class="form-control form-control-sm cart-select" disabled></select>
                                    <button type="button" class="btn btn-light cart-button" style="font-size:0.8rem;"><strike>Add to &#128722;</strike></button>
                                }
                                else
                                {
                                    <span style="font-size:0.7rem;">AVAILABLE: @available</span>
                                    <span class="product-price">
                                        @item.Price
                                    </span>
                                    <form action="/addItemToCart" method="post">
                                        <select name="amount" id="" class="form-control form-control-sm cart-select">
                                        @for(int i=1; @available+1 > i ;i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                        </select>
                                        <input type="hidden" id="ProductId" name="ProductId" value="@item.ProductId">
                                        <input type="submit" class="btn btn-warning cart-button" style="font-size:0.8rem;" value="Add to &#128722;">
                                    </form>                                    
                                }

                            }
                            else
                            {
                                <span style="font-size:0.7rem;">OUT OF STOCK</span>
                                <span class="product-price">
                                    @item.Price
                                </span>
                                <select name="amount" id="" class="form-control form-control-sm cart-select" disabled></select>
                                <button type="button" class="btn btn-light cart-button" style="font-size:0.8rem;"><strike>Add to &#128722;</strike></button>
                            }
                        </div>
                        <p class="card-text mt-3 p-1">
                            @item.Description
                        </p>
                        
                    </div>
                </div>
            }

        }
    }
</div>



<style> 
    .items-container{
        text-align: center;

    }
    .product-price:before{ content:'$'; }
    .product-price:after{ content: '.00'; }
    .product-price{
        display: inline-block;
        min-width: 10.8rem;
    }

    .card-text{
        min-height: 7rem;
        max-height: 7rem;
        min-width: 15rem;
        max-height: 15rem;
        border-radius: 0.5rem;
        background-color: #afffff;
    }
    .card-title{
        text-align: left;
        min-width: 15rem;
        max-width: 15rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .card{
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .cart-select{
        width: 4rem;
        display: inline-block;
    }
    .cart-button{
        display: inline-block;
    }
    .image-text{
        height: 100px;
        overflow: hidden;
        position: relative;
        text-align: center;
        color: white;
    }
    .text{
        text-shadow: 2px 2px 8px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>